apiVersion: apps/v1
kind: Deployment
metadata:
  name: hd-deployment
spec:
  selector:
    matchLabels:
      app: hd-app
  replicas: 16
  template:
    metadata:
      labels:
        app: hd-app
    spec:
      containers:
      - name: hd-app
        image: IMAGE
        env:
          - name: ACCESS_TOKEN_GHE
            valueFrom:
              secretKeyRef:
                name: secret-envs
                key: access_token_ghe
          - name: ACCESS_TOKEN_PARTNER
            valueFrom:
              secretKeyRef:
                name: secret-envs
                key: access_token_partner
          - name: ACCESS_TOKEN_GIT
            valueFrom:
              secretKeyRef:
                name: secret-envs
                key: access_token_git
          - name: DRAGON_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: secret-envs
                key: dragon_access_key
          - name: DRAGON_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: secret-envs
                key: dragon_secret_access_key
          - name: SD_USER_TOKEN
            valueFrom:
              secretKeyRef:
                name: secret-envs
                key: sd_user_token
        ports:
        - containerPort: 80
        - containerPort: 9100
