apiVersion: v1
kind: Secret
metadata:
  name: secret-envs
type: Opaque
data:
  access_token_ghe: ACCESS_TOKEN_GHE
  access_token_partner: ACCESS_TOKEN_PARTNER
  access_token_git: ACCESS_TOKEN_GIT
  dragon_access_key: DRAGON_ACCESS_KEY
  dragon_secret_access_key: DRAGON_SECRET_ACCESS_KEY
  sd_user_token_cd: SD_USER_TOKEN_CD
  sd_user_token_next: SD_USER_TOKEN_NEXT
